<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>ASCEND - Climb the Tower</title>
    <!-- CSS -->
        <!-- Bootstrap -->
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous'>
        <!-- Google Fonts -->
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap' rel='stylesheet'>
        <!-- Custom -->
        <link rel='stylesheet' href='../../assets/style.css'>
    <!-- JavaScript -->
        <!-- Bootstrap Required -->
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous'></script>
        <!-- Custom -->
        <script src="Js/gamemanager.js"></script>
        <script src="Js/player.js"></script>
        <script src="Js/enemy.js"></script>
</head>
<body class='body-combat'>
    <!-- Header: Contains only hero image -->
    <header class='hero'></header>

    <!-- Container: Character and Opponent Windows -->
    <section class='content container'>
        <div class='row'>
            <!-- Warrior Div -->
            <div class='col-md-5 player-div' id='warrior-div' >
            {{#each player}}
                <!-- Champion Row: Name / Health -->
                <div class='row'>
                    <div class='col-md-8'>
                        <h2 class='champ-name'
                        id="player-name">{{ player-name }}</h2>
                    </div>
                    <div class='col-md-4'>
                        <h2 class='champ-health' id='health-player'>{{ health-player }}</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-5 boost'>
                        <div class='row'>
                            <div>
                                <h2 id='attack-player'>{{ attack-player }}</h2>
                            </div>
                        </div>                        
                        <div class='row'>
                            <div>
                                
                                <h2 id='defense-player'>{{ defense-player }}</h2>
                            </div>
                        </div>
                        <div class='row'>
                            <div>
                                <h2 id='speed-player'>{{ speed-player }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <img src='https://s-media-cache-ak0.pinimg.com/736x/9a/34/3b/9a343bfc65a2c9e582b0afc7d67a3b4b.jpg' class='char-pix' alt='Character' />
                    </div>
                </div>
                <div class='row'>
                    <button class='btn btn-attack' onclick="PlayerMoves.calcAttack()" id='start'>Climb Tower & Attack!</button>
                    <button class='btn btn-attack' onclick="GameManager.setFight()" id='start'>Find an Enemy!</button>
                    <button class='btn btn-attack' id='start_game'>Climb Tower &amp; Attack!</button>
                    <button class='btn btn-attack' onclick="GameManager.setFight()" id='find_enemy'>Find Your Next Enemy!</button>
                </div>
                {{/each}}
            </div>
            <!-- VS Column -->
            <div class='col-md-2'>
                <div class='row'>
                    <img src='https://comicvine1.cbsistatic.com/uploads/original/11130/111300953/5440456-4284025-6271335549-vs.pn.png' alt='versus' class="versus" />
                </div>
            </div>
            <!-- Troll Div -->
            <div class='col-md-5 opponent-div' id='troll-div'>
                {{#each enemy}}
                <!-- Champion Row: Name / Health -->
                <div class='row'>
                    <div class='col-md-8'>
                        <h2 class='enemy-name'>{{enemy-name}}</h2>
                    </div>
                    <div class='col-md-4'>
                        <h2 class='champ-health' id='health-enemy'>{{health-enemy}}</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-5'>
                        <img src='https://i.imgur.com/yyt7bs8.jpg' class='enemy-pix' alt='enemy' />
                    </div>
                    <div class='col-md-5 boost'>
                        <div class='row'>
                            <div>
                            <h2 id='attack-enemy'>{{attack-enemy}}</h2>
                            </div>
                        </div>                        
                        <div class='row'>
                            <div>
                                <h2 id='defense-enemy'>{{defense-enemy}}</h2>
                            </div>
                        </div>
                        <div class='row'>
                            <div>
                                <h2 id='speed-enemy'>{{speed-enemy}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
        <div class="row cont-bg-mgr" style="margin-top: 3rem;">
                    <div class='col-md-3'>
                        <div class="card player-card">
                            <div class="card-header">
                                <h3 class='player-name' id='player-name'>SmashnBtns02</h3>
                            </div>
                            <div class="card-body player-info" id="player-info">
                                Level 1 Warrior<br>
                                XP: <span id=player-exp>{{player-exp}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gold: 0
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="card gameplay-card">
                            <div class="card-header">
                                <h3 class='player-name' id='game-spam'>Gameplay Window</h3>
                            </div>
                            <div class="card-body gameplay-info" id="gameplay-info">
                            You attack for 50 points of damage.<br>
                            Troll attacks for 60 points of damage.
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="card skill-card">
                            <div class="card-header">
                                <h3 class='player-name' id='skill-name'>Choose Your Skill</h3>
                            </div>
                            <div class="card-body skill-info" id="skill-info">
                                Sprinkle * Sprinkle<br>
                                Future Development
                            </div>
                        </div>
                    </div>
        </div>
    </section>
    <!-- End Container -->

    <!-- Footer -->
    <footer>
        <hr />
            <h2>ASCEND &copy; AHANBCTG</h2>
        </footer>
</body>
</html>